<p style="color: green"><%= notice %></p>

<%= render @jeweler %>

<div>
  <%= link_to "Edit this jeweler", edit_jeweler_path(@jeweler) %> |
  <%= link_to "Back to jewelers", jewelers_path %>

  <%= button_to "Destroy this jeweler", @jeweler, method: :delete %>
</div>
