<div id="<%= dom_id jewel %>">
  <p>
    <strong>Name:</strong>
    <%= jewel.name %>
  </p>

  <p>
    <strong>Material:</strong>
    <%= jewel.material %>
  </p>

  <p>
    <strong>Type of stones:</strong>
    <%= jewel.type_of_stones %>
  </p>

  <p>
    <strong>Number of stones:</strong>
    <%= jewel.number_of_stones %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= jewel.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= jewel.price %>
  </p>

  <p>
    <strong>Jeweler:</strong>
    <%= jewel.jeweler_id %>
  </p>

</div>
