<div id="<%= dom_id jewel %>">
  <td><%= jewel.name %></td>
  <td><%= jewel.material %></td>
  <td><%= jewel.type_of_stones %></td>
  <td><%= jewel.number_of_stones %></td>
  <td><%= jewel.description %></td>
  <td><%= jewel.price %></td>
  <td><%= jewel.jeweler_id %></td>
  <td><%= link_to 'Show', jewel %></td>
  <td><%= link_to 'Edit', edit_jewel_path(jewel) %></td>
  <td><%= button_to "Destroy", jewel, method: :delete %></td>
</div>
