<div>
  <ul>
    <strong>
      <li><code>⅀ Safire: <span style="color:green"><%= @with_of_safire.length %></span></code></li>
      <li><code>⅀ Emerald: <span style="color:green"><%= @with_of_emerald.length %></span></code></li>
      <li><code>⅀ Diamond: <span style="color:green"><%= @with_of_diamond.length %></span></code></li>
      <li><code>⅀ Black Diamond: <span style="color:green"><%= @with_of_black_diamond.length %></span></code></li>
      <li><code>⅀ Ruby: <span style="color:green"><%= @with_of_ruby.length %></span></code></li>
    </strong>
  </ul>
</div>
