<div>
  <ul>
    <strong>
      <li><code>⅀ Gold: <span style="color:green"><%= @type_of_gold.length %></span></code></li>
      <li><code>⅀ Silver: <span style="color:green"><%= @type_of_silver.length %></span></code></li>
      <li><code>⅀ Iron: <span style="color:green"><%= @type_of_iron.length %></span></code></li>
      <li><code>⅀ Platinium: <span style="color:green"><%= @type_of_platinum.length %></span></code></li>
      <li><code>⅀ White Gold: <span style="color:green"><%= @type_of_white_gold.length %></span></code></li>
    </strong>
  </ul>
</div>
