<!DOCTYPE html>
<html>
  <head>
    <title>Bijouxville</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.simplecss.org/simple.min.css" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %> |
      <%= link_to "Jewelers", jewelers_path %> |
      <%= link_to "Jewels", jewels_path %> |
      <%= link_to "Materials", materials_path %> |
      <%= link_to "Stones", stones_path %> |
      <% if jeweler_signed_in? %>
        <p>Signed in as <%= current_jeweler.email %></p>
        <%= link_to "Edit profile", edit_jeweler_registration_path %>
        <%= button_to "Sign out", destroy_jeweler_session_path, method: :delete, data: { turbo: "false" } %>
      <% else %>
        <%= link_to "Sign up", new_jeweler_registration_path %> or
        <%= link_to "sign in", new_jeweler_session_path %>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    
  </body>
</html>
