<!DOCTYPE html>
<html>
  <head>
    <title>Bijouxville</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.simplecss.org/simple.min.css" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %> |
      <%= link_to "Jewelers", jewelers_path %> |
      <%= link_to "Jewels", jewels_path %> |
      <%= link_to "Materials", materials_path %> |
      <%= link_to "Stones", stones_path %> |
    </nav>
    <%= yield %>
  </body>
</html>
